[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
flask = "==1.0.3"
python-dotenv = "*"
pyyaml = "*"
sqlalchemy = "==1.4.25"
fastapi = "*"
uvicorn = "*"
numpy = "*"
pandas = "*"
apscheduler = "*"
networkx = "*"

[dev-packages]
pytest = "*"
hypothesis = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
